// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the Avnet sm2s-rzg2ul board
 *
 * Copyright (C) 2022-23 AVNET Embedded, MSC Technologies GmbH
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "r9a07g043u11.dtsi"
#include "r9a07g043u11-u-boot.dtsi"
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>
#include <dt-bindings/net/ti-dp83867.h>

/ {
	model = "sm2s-rzg2ul";
	compatible = "renesas,r9a07g043u", "renesas,rzg2ul";

	aliases {
		serial0 = &scif0;
		serial1 = &scif1;
		spi0 = &spibsc;
	};

	chosen {
		stdout-path = "serial1:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0 0x48000000 0 0x78000000>;
	};
};

&soc {
	/delete-node/ ethernet@11c30000;
};

&P7 {
	boot_sel0 {
	        gpio-hog;
	        gpios = <4 GPIO_ACTIVE_HIGH>;
	        input;
	        line-name = "boot_sel0";
	};
};

&P8 {
	boot_sel1 {
	        gpio-hog;
	        gpios = <4 GPIO_ACTIVE_HIGH>;
	        input;
	        line-name = "boot_sel1";
	};
};

&P10 {
	boot_sel2 {
	        gpio-hog;
	        gpios = <0 GPIO_ACTIVE_HIGH>;
	        input;
	        line-name = "boot_sel2";
	};
};

&pinctrl {
	i2c0_pins: i2c0 {
		pins = "RIIC0_SDA", "RIIC0_SCL";
		input-enable;
	};

	i2c1_pins: i2c1 {
		pins = "RIIC1_SDA", "RIIC1_SCL";
		input-enable;
	};

	scif1_pins: scif1 {
		pinmux = <RZG2L_PINMUX(8, 0, 3)>, /* SCIF1_RXD */
			<RZG2L_PINMUX(8, 1, 3)>;/*SCIF1_TXD*/
	};

	eth0_pins: eth0 {
                pinmux = <RZG2L_PINMUX(4, 3, 1)>, /* ET0_MDC */
                         <RZG2L_PINMUX(4, 4, 1)>, /* ET0_MDIO */
                         <RZG2L_PINMUX(1, 0, 1)>, /* ET0_TXC */
                         <RZG2L_PINMUX(1, 1, 1)>, /* ET0_TX_CTL */
                         <RZG2L_PINMUX(1, 2, 1)>, /* ET0_TXD0 */
                         <RZG2L_PINMUX(1, 3, 1)>, /* ET0_TXD1 */
                         <RZG2L_PINMUX(1, 4, 1)>, /* ET0_TXD2 */
                         <RZG2L_PINMUX(2, 0, 1)>, /* ET0_TXD3 */
                         <RZG2L_PINMUX(3, 0, 1)>, /* ET0_RXC */
                         <RZG2L_PINMUX(3, 1, 1)>, /* ET0_RX_CTL */
                         <RZG2L_PINMUX(3, 2, 1)>, /* ET0_RXD0 */
                         <RZG2L_PINMUX(3, 3, 1)>, /* ET0_RXD1 */
                         <RZG2L_PINMUX(4, 0, 1)>, /* ET0_RXD2 */
                         <RZG2L_PINMUX(4, 1, 1)>; /* ET0_RXD3 */
        };
};

&xinclk {
        clock-frequency = <24000000>;
};

&scif0 {
	status = "okay";
	clock = <100000000>;
};

&scif1 {
	status = "okay";
	clock = <100000000>;
	pinctrl-0 = <&scif1_pins>;
	pinctrl-names = "default";
};

&sdhi0 {
	bus-width = <8>;
	status = "okay";
	/* This is used for interface that support both eMMC and SD in board */
	mutual-channel;
};

&sdhi1 {
	/* pinctrl placeholder
	 * A power enable pin (SD1_PWR_EN) must be defined to interface with a
	 * SD card.
	 * The SD1_PWR_EN pin is associated with P0_3.
	 * A HIGH signal on SD1_PWR_EN will enable supply voltage for SD card.
	*/
	bus-width = <4>;
	status = "okay";
};

&i2c0 {
	status = "okay";

	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <100000>;

	module_eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		pagesize = <32>;
	};

	module_eeprom@57 {
		compatible = "atmel,24c64";
		reg = <0x57>;
		pagesize = <32>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	status = "okay";
	module_eeprom@57 {
		compatible = "atmel,24c64";
		reg = <0x57>;
		pagesize = <32>;
	};
};

&spibsc {
        num-cs = <1>;
        status = "okay";
        spi-max-frequency = <40000000>;
        #address-cells = <1>;
        #size-cells = <0>;
        flash0: spi-flash@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "spi-flash", "jedec,spi-nor";
                spi-max-frequency = <40000000>;
                spi-tx-bus-width = <1>;
                spi-rx-bus-width = <1>;
                reg = <0>;
                status = "okay";
        };
};

&eth0 {
        pinctrl-0 = <&eth0_pins>;
        pinctrl-names = "default";
        phy-handle = <&ethphy0>;
        phy-mode = "rgmii";
        status = "okay";
	
	mdio {
                #address-cells = <1>;
                #size-cells = <0>;

                ethphy0: ethernet-phy@0 {
                        compatible = "ethernet-phy-id2000.a231";
                        reg = <0x0>;
                        ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
                        ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
                        ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
			ti,min-output-impedance;
                };
        };
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&wdt0 {
	status = "okay";
	timeout-sec = <60>;
};
